control_port = 4939;
mmdvm_listen_port = 44550;
mmdvm_send_port = 44560;
gateway_listen_port = 44660;
gateway_send_port = 44670;
window_width = 1400;
window_height = 700;
headless_mode = 0;
channel_number = 4;
gateway_number = 3;
udp_local_address = "192.168.1.3";
mmdvm_remote_address = "192.168.1.2";
gateway_remote_address = "192.168.1.2";
control_channel_physical_id = 0;
control_channel_slot = 1;
gateway_enabled = 1;
announce_priority = 0;
system_announcement_message = "DMR tier III site";
payload_channel_idle_timeout = 5;
system_identity_code = 9;
use_absolute_channel_grants = 0;
announce_system_message = 1;
prevent_mmdvm_overflows = 1;
receive_tg_attach = 0;
location_service_id = 1048577;
announce_system_freqs_interval = 120;
announce_late_entry_interval = 1;
talkgroup_routing = ( 
  {
    tg_id = 1;
    gateway_id = 0;
  }, 
  {
    tg_id = 2;
    gateway_id = 1;
  }, 
  {
    tg_id = 9;
    gateway_id = 2;
  }, 
  {
    tg_id = 1031656;
    gateway_id = 2;
  } );
slot_rewrite = ( 
  {
    tg_id = 9;
    slot_no = 2;
  }, 
  {
    tg_id = 112;
    slot_no = 1;
  }, 
  {
    tg_id = 1051547;
    slot_no = 1;
  } );
logical_physical_channels = ( 
  {
    logical_channel = 1L;
    tx_freq = 431900000L;
    rx_freq = 434900000L;
    colour_code = 1L;
  }, 
  {
    logical_channel = 2L;
    tx_freq = 431950000L;
    rx_freq = 434950000L;
    colour_code = 1L;
  }, 
  {
    logical_channel = 3L;
    tx_freq = 431850000L;
    rx_freq = 434850000L;
    colour_code = 1L;
  }, 
  {
    logical_channel = 4L;
    tx_freq = 431825000L;
    rx_freq = 434825000L;
    colour_code = 1L;
  } );
